@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap');
@import '~antd/dist/antd.dark.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
}
