.area {
  width: 100%;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
  svg {
    tspan {
      fill: white;
    }
  }
  .dates {
    background: white;
    border-radius: 40px;
    display: inline-flex;
    color: black;
    padding: 0 20px;
    font-weight: 600;
    overflow: hidden;
    margin-top: 10px;

    div {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: rgba(93, 143, 168, 0.2);
      }
    }
    .active {
      color: #5d8fa8;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #5d8fa8;
        border-radius: 2px 2px 0 0;
      }
    }
  }
}
